<%- include('header') %>
<h1 id="title">Zenelejátszó</h1>

<button type="button" name="new_music" id="new_music" onclick="window.location.href = '/music/new'">Új zene
    hozzáadása
</button>
<button type="button" name="styles" id="styles" onclick="window.location.href = '/style'">Stílusok</button>

<%-include('footer')-%>